 .u-section-1 {
  background-image: linear-gradient(140deg, #ffce00, #ff7f00);
}

.u-section-1 .u-sheet-1 {
  min-height: 862px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 180px auto 0 37px;
  padding: 0 58px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.9286em;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -65px auto 0 343px;
  padding: 0 58px;
}

.u-section-1 .u-icon-2 {
  font-size: 2.9286em;
}

.u-section-1 .u-image-1 {
  width: 502px;
  height: 502px;
  animation-timing-function: ease-in-out;
  margin: 31px auto 0 18px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 1;
  margin: -502px 50px 0 551px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-scale: 1;
  margin: 76px 50px 0 454px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 84px 413px 0 auto;
  padding: 0 58px;
}

.u-section-1 .u-icon-3 {
  font-size: 2.9286em;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -65px 238px 0 auto;
  padding: 0 58px;
}

.u-section-1 .u-icon-4 {
  font-size: 2.9286em;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -65px 50px 57px auto;
  padding: 0 58px;
}

.u-section-1 .u-icon-5 {
  font-size: 2.9286em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 289px;
  }

  .u-section-1 .u-image-1 {
    animation-duration: 1000ms;
    margin-top: -7px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -450px;
    margin-right: 43px;
    margin-left: 502px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 188px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -179px;
    margin-right: 328px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 164px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 69px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 325px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 145px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 163px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
    padding: 2px 53px 3px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: -5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -288px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 198px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -169px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -142px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(black, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 1595px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 53px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: normal;
  width: 688px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 74px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 369px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 6px;
}

.u-section-2 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 67px auto 60px;
  padding: 0 58px;
}

.u-section-2 .u-icon-5 {
  font-size: 2.9286em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 712px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 629px;
}

.u-section-3 .u-icon-1 {
  width: 493px;
  height: 493px;
  margin: 123px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -564px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 35px 0 0 429px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: -14px 0 60px 429px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 132px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -585px;
    margin-left: 64px;
    margin-right: 64px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 241px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -20px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 21px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(black, black);
  min-height: 1785px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 124px 124px 0;
}

.u-section-4 .u-image-1 {
  height: 1435px;
  margin-top: 114px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 324px;
  grid-template-rows: auto auto auto;
  margin: -1509px calc(((100% - 1140px) / 2) + 247px) 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1227px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-icon-3 {
  font-size: 1.5834em;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: -1163px calc(((100% - 1140px) / 2) + 688px) 0 calc(((100% - 1140px) / 2) + 343px);
}

.u-section-4 .u-shape-1 {
  width: 24px;
  height: 23px;
  background-image: linear-gradient(#f1c50e, #ff7f00);
  margin: -29px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-shape-2 {
  width: 24px;
  height: 23px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-text-7 {
  margin: 298px calc(((100% - 1140px) / 2) + 688px) 0 calc(((100% - 1140px) / 2) + 343px);
}

.u-section-4 .u-shape-3 {
  width: 24px;
  height: 23px;
  background-image: linear-gradient(#f1c50e, #ff7f00);
  margin: -29px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-shape-4 {
  width: 24px;
  height: 23px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-text-8 {
  margin: 272px calc(((100% - 1140px) / 2) + 688px) 0 calc(((100% - 1140px) / 2) + 343px);
}

.u-section-4 .u-shape-5 {
  width: 24px;
  height: 23px;
  background-image: linear-gradient(#f1c50e, #ff7f00);
  margin: -29px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-shape-6 {
  width: 24px;
  height: 23px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-text-9 {
  margin: 314px calc(((100% - 1140px) / 2) + 688px) 0 calc(((100% - 1140px) / 2) + 343px);
}

.u-section-4 .u-shape-7 {
  width: 24px;
  height: 23px;
  background-image: linear-gradient(#f1c50e, #ff7f00);
  margin: -29px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-shape-8 {
  width: 24px;
  height: 23px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-4 .u-shape-9 {
  width: 18px;
  height: 18px;
  background-image: linear-gradient(#f1c50e, #ff7f00);
  margin: 216px auto 60px calc(((100% - 1140px) / 2) + 470px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1473px;
  }

  .u-section-4 .u-text-1 {
    width: 740px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    height: 1399px;
    width: 1014px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1305px;
    margin-right: calc(((100% - 940px) / 2) + 146px);
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -1158px;
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2) + 256px);
  }

  .u-section-4 .u-shape-1 {
    height: 24px;
    margin-top: -30px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-shape-2 {
    height: 24px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 294px;
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2) + 264px);
  }

  .u-section-4 .u-shape-3 {
    height: 24px;
    margin-top: -31px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-shape-4 {
    height: 24px;
    margin-top: -24px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 265px;
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2) + 274px);
  }

  .u-section-4 .u-shape-5 {
    height: 24px;
    margin-top: -24px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-shape-6 {
    height: 24px;
    margin-top: -24px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 317px;
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2) + 274px);
  }

  .u-section-4 .u-shape-7 {
    height: 24px;
    margin-top: -30px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-shape-8 {
    height: 24px;
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-4 .u-shape-9 {
    margin-top: 151px;
    margin-left: calc(((100% - 940px) / 2) + 401px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1790px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    height: 993px;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    min-height: 916px;
    margin-top: -1887px;
    margin-right: calc(((100% - 1140px) / 2) + 247px);
  }

  .u-section-4 .u-text-6 {
    margin-top: -1164px;
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-shape-3 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-shape-5 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-shape-6 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 720px);
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-4 .u-shape-7 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-shape-8 {
    margin-left: calc(((100% - 1140px) / 2) + 467px);
  }

  .u-section-4 .u-shape-9 {
    margin-left: calc(((100% - 1140px) / 2) + 470px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    height: 745px;
    margin-top: 1630px;
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1847px;
    margin-right: calc(((100% - 1140px) / 2) + 216px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 115px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 115px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -1151px;
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-4 .u-shape-5 {
    margin-top: 217px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -18px;
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 469px;
    margin-top: 1609px;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1827px;
    margin-right: calc(((100% - 1140px) / 2) + 16px);
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-4 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-4 .u-shape-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-shape-4 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-4 .u-shape-5 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-shape-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-4 .u-shape-7 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-shape-8 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-shape-9 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}